name: Build Branches

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker build Backend
      run:
        docker build ./server -t Backend